.table-cell {
  width: 10px;
  height: 10px;
}

.cell-living {
  background-color: rgb(5, 5, 4);
}

.cell-dead {
  background-color:bisque
}

.table-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

